<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url for('static', filaname='css/global.css')}}">
    <title>Document</title>
</head>
<body>
    <h1>Vai se tratar garota - Dr/Dj Deolane</h1>
    <p>Vai se</p>
    <p>Vai se</p>
    <p>Vai se</p>
    <p>
        Vai se tratar garota
        Sai da minha bota
        Rasgou minhas roupas, queimou 12 mola
        Eu tava de boa, cheia de história
        Agora chora, chora, chora
    </p>
</body>
</html>