<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Vendendores</title>
</head>
<body>
    <h1>Lista de vendedores</h1>

    <table class="table">
        <thead class="thead-dark">
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">BirthDate</th>
            <th scope="col">BaseSalary</th>
        </thead>

        <tbody>
            {% for seller in sellers %}

            <tr>
                <td>{{ seller.Id }}</td>
                <td>{{ seller.Name }}</td>
                <td>{{ seller.Email }}</td>
                <td>{{ seller.BirthDate }}</td>
                <td>{{ seller.BaseSalary }}</td>
            </tr>

            {% endfor %}
        </tbody>
    </table>
</html>